<div class="bg">
  <div class="container">
    <div class="row">

      <div class="username d-flex justify-content-end py-4 mb-5">
        <% if user_signed_in? %>
          <p class="light">
          <h2>WELCOME <%= current_user.username %>!</h2>
          </p>
        <% end %>
      </div>
    </div>

    <div class="arrivals d-flex align-items-center">
      <div class="row">
        <div class="col-9">
          <h1 class="neon">SNEAKERHEADS</h1>
          <h2 class="mt-3">The Place Where SneakerHeads Gather</h2>
          <button class="glow-on-hover" type="button"><%= link_to "LATEST ARRIVALS", sneakers_path %></button>
        </div>
      </div>
    </div>


    <div class="row brands flex-container">
      <% Sneaker::BRANDS.each do |brand| %>
        <div class="col-3">
          <div class="brand-card my-3"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/7LXP4BaXvrY)">
            <% count = 0 %>
            <h2 class="a"><%= link_to brand, brand_sneakers_path(brand)%></h2>
              <% count+=1 %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
