<div class="bg">
  <div class="container">
    <div class="username d-flex justify-content-end">
      <% if user_signed_in? %>
        <p class="light">
        <h2>WELCOME <%= current_user.username.upcase %>!</h2>
        </p>
      <% end %>
    </div>
      <div class="container arrivals">
        <div class="row">
          <div class="col-6">
            <h1>THE NEW ARRIVALS</h1>
            <button class="b">ORDER NOW</button>
          </div>
        </div>
      </div>

      <%# <div class="container">
        <div class="row d-flex align-items-end">
          <div class="col-3">
            <div class="card-product">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-product-infos">
                <h2>Product name</h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
              </div>
            </div>
          </div>
        </div>
      </div> %>
  </div>
</div>
