<div class="bg">
  <div class="container">
    <div class="row">

      <div class="username d-flex justify-content-end py-4 mb-5">
        <% if user_signed_in? %>
          <p class="light">
          <h2>WELCOME <%= current_user.username.upcase %>!</h2>
          </p>
        <% end %>
      </div>
    </div>

    <div class="arrivals d-flex align-items-center mt-5 pt-5">
      <div class="row">
        <div class="col-6">
          <h1>THE NEW ARRIVALS</h1>
          <button class="b">ORDER NOW</button>
        </div>
      </div>
    </div>

    <div class="row">

    <% Sneaker::BRANDS.each do |brand| %>

      <div class="col-3">
        <div class="card-product mt-5">
          <img src="https://source.unsplash.com/XPBYi4K8vFI" />
          <div class="card-product-infos">
            <h2>
            <%= link_to "Nike", brand_sneakers_path(brand) %>
            </h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
