// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "cards";
@import "bg_card";
@import "grid";

// Import font family
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
// font-family: 'Kdam Thmor Pro', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;700&display=swap');
// font-family: 'Roboto Mono', monospace;

// Utilites

body, html {
  height: 100%;
}

h1 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 64px;
  box-shadow: 8px;
}

h2 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 32px;
}

// Others

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
