.navbar-lewagon {
  justify-content: space-between;
  background: #120219;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  // background-color: #A05C7B;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav a {
  color: white;
}

li > a.text-nav{
  color:#EACDC2 !important;
}
