<% @brands.each do |brand| %>
  <h3>
    Sneaker size:  <%= brand.size %>
  </h3>
  <h3>
    Sneaker price: <%= brand.price %>
  </h3>

  <%= link_to "Show details", sneakers_path(@sneaker) %>

<% end %>
