<% @brands.each do |brand| %>

  <h3>
    Sneaker size:  <%= brand.size %>
  </h3>
  <h3>
    Sneaker price: <%= brand.price %>
  </h3>
  <h3>
    <a href="#">Show more</a>
    <%# <%= link_to "Show more", user_sneaker_path(@user, @sneaker) %>
  </h3>

<% end %>
