
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="sneaker-images">
        <img src="https://source.unsplash.com/XPBYi4K8vFI" />
          <div class="row">
            <div class="col-3">
              <div class="card-product mt-5">
              <div class="card-sneaker" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/XPBYi4K8vFI)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="col-6">
      <h1><%= @sneaker.brand %></h1>
      <h2><%= @sneaker.price %></h2>
      <p><%= @sneaker.size %></p>
      <a class="btn btn-flat" href="#">Back To Browser</a>
      <a class="btn btn-flat" href="#">Buy Now</a>
    </div>
  </div>
  </div>
</div>
